@font-face {
    font-family: "Caveat-VariableFont_wght" ; 
    src: url("../шрифты/Caveat-VariableFont_wght.ttf");
}
body{
    margin:0;
    padding: 0;
    color:black;

}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

ul,li{
    display: block;
    padding: 0;
    margin: 0;
}

.container{
    width: 1328px;
    margin: 0 auto;
}

/*header*/
header{
    background-color: rgb(33, 32, 32);
    height: 87px;
}

nav{
    width: 1328px;
    margin: 0 auto;
    display: flex;
    background-color: rgb(33, 32, 32);
    opacity:82%;
}

nav img{
    margin-right: 527px;
}
.menu{
    display: flex;
}

ul{
    padding: 0;
    width: auto;
}

.menu li a{
    text-decoration: none;
    font-size: 26px;
    color: rgb(255, 255, 255);
}

.menu li a:hover{
    color: #99C39D;
}

.menu li{
    margin-right:53px;
    margin-top: 19px;
}

.RU{
    color: #ffff;
    padding: 0;
    border: none;
    font-size: 26px;
    border-right: 2px solid #ffff;
    background-color: rgb(33, 32, 32);
    opacity:82%;
    padding-right: 5px;
    height: 26px;
    margin-top: 20px;
}
.RU:hover{
    color: #99C39D;
}
.ENG{
    color: #ffff;
    padding: 0;
    border: none;
    font-weight: 400;
    font-size: 26px;
    background-color: rgb(33, 32, 32);
    opacity:82%;
    height: 26px;
    margin-top: 20px;
    margin-left: 5px;
}
.ENG:hover{
    color: #99C39D;
}

/*section*/
section{
    height: 692px;
    background: #FFFFFF;
}

section>.container{
    width: 1136px;
    height: 562px;
    margin-top: 82px;
    font-family: Caveat-VariableFont_wght;
    text-transform: uppercase;
}

.all{
    display: flex;
}
.element1{
    height: 347px;
    width: 729px;
}
.element1>.img1{
    width: 325px;
    height: 337px;
    border-radius: 170px;
    margin-right: 27px;
}

.element2{
    width: 181px;
    height: 193px;
    margin-left: 283px;
   
}
.element2>.img3{
    width: 247px;
    height: 250px;
    border-radius: 170px;
}

.element1>.img2{
    width: 269px;
    height: 280px;
    border-radius: 170px;
}

.element3{
    width: 400px;
    height: 390px;
    margin-left: auto;
    margin-top: 110px;
}

.element3>p{
    font-size: 26px;
    text-align: center;
    margin: 0;
}

/*footer*/
footer{
    height: 140px;
    background-color: rgb(33, 32, 32);
}

footer .container{
    display: flex;
    padding-top: 23px;
    margin-top: 0;
}

.div1{
    width: 89px;
    height: 50px;
    margin-right: 123px;
}
.div1 p{
    font-size: 16px;
    width: 78px;
    height: 14px;
    display: block;
    color: #C9BDB1;
    margin: 0;
    margin-bottom: 7px;
    font-family: Caveat-VariableFont_wght;
}
.div1 a{
    color: #FFFFFF;
    text-decoration: none;
}

.div2{
    width: 101px;
    height: 35px;
    margin-right: 746px;
}
.div2 p{
    font-size: 16px;
    width: 78px;
    height: 14px;
    display: block;
    color: #C9BDB1;
    margin: 0;
    margin-bottom: 7px;
    font-family: Caveat-VariableFont_wght;
}
.div2 a{
    color: #FFFFFF;
    text-decoration: none;
}

.div3{
    width: 122px;
    height: 82px;
}


.down{
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 153px;
}

.ik{
    width: 120px;
    height: 50px;
    display: flex;
    margin-top: 34px;
}
.ik button{
margin: 5px;

}

.logox{
    width:30px;
    height:30px;
}

.l{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width:45px;
    height:45px;
    background-color: #777777;
    border:2px burlywood;
    border-radius: 23px 23px;

}


/*adaptiv*/
@media screen and (max-width:1200px) {/*1024*/
    .container{
        width: 1140px;
    }
    nav{
        width: 940px;

    }
    
    nav img{
        margin-left: 10px;
        margin-right: 200px;
    }

    .menu li{
        margin-right:33px;
        margin-top: 19px;
        width: 100px;
    }
    

    section{
        height: 492px;
        background: #FFFFFF;
    }
    
    section>.container{
        width: 920px;
    }
    
    .all{
        display: flex;
    }
    .element1{
        height: 247px;
        width: 629px;
    }
    .element1>.img1{
        width: 225px;
        height: 237px;
    }
    
    .element2{
        margin-left: 150px;
       
    }
    .element2>.img3{
        width: 200px;
        height: 203px;
    }
    
    .element1>.img2{
        width: 269px;
        height: 280px;
    }
    
    .element3{

        margin-top: 20px;
    }
    
    
    footer>.container{
        width: 900px;
    }

    .div1{
        margin-right: 50px;
    }

    .div1 p{
        width: 100px;
    }

    .div2{
        margin-right: 446px;
    }
}

 @media screen and (max-width:991px) {/*768*/
    .container{
        width: 720px;
    }

    nav{
        width: 768px;

    }
        
    nav img{
        margin-right: 70px;
    }

    
    .menu li{
        margin-right:13px;
    }
    section>.container{
        width: 768px;
    }
    .element1{
        display: none;
    }
    .element2{
        display: none;
    }
    
    .all{
        width: 740px;
    }
    .element3{
margin-left: auto;
margin-right: auto;
        margin-top: 20px;
    }
    
    footer>.container{
        width:720px;
    }

    .div2{
        margin-right: 246px;
    }
}

@media screen and (max-width:767px) {/*620*/
    .container{
        width: 425px;
    }
    section{
        background: none;
    }
    
    nav{
        width: 400px;
        margin: 0;
    }
        
    nav img{
        margin-right: 60px;
        width: 100px;
    }

    
    .menu li{
        margin-right:5px;
        width: 90px;
    }
    .menu li a{
        font-size: 22px;
    }
    .RU{
        font-size: 20px;
;
    }
    .ENG{

        font-size: 20px;
    }
    section>.container{
        width: 400px;
    }
    .all{
        width: 400px;
    }
    .element3{
        margin-top: 20px;
    }
    
    footer>.container{
        width:600px;
    }

    .div2{
        margin-right: 100px;
    }
}

@media screen and (max-width:575px) {/*425*/
    .container{
        width: 100%;
    }

    nav{
        width: 300px;
        margin: 0;
    }
        
    nav img{
        margin-right: 10px;
        width: 80px;
    }

    
    .menu li{
        margin-right:2px;
        width: 61px;
    }
    .menu li a{
        font-size: 18px;
    }
    .RU{
        font-size: 16px;
        height: 20px;
        margin-left: 15px;
;
    }
    .ENG{

        font-size: 16px;
    }


    footer{
        height: 140px;
        background-color: rgb(33, 32, 32);
    }
    footer>.container{
        width:300px;
        margin-left: 0;
    }
    .div1{
        margin-right: 20px;
    }
    .div2{
        margin-right: 60px;
    }
    .div3>img{
        width: 80px;
        height:70px;
    }

    .ik{
        width: 120px;
        height: 50px;
        display: flex;
        margin-top: 34px;
    }
    .ik button{
    margin: 5px;
    width: 30px;
    height: 30px;
    
    }
    
    .logox{
        width:20px;
        height:20px;
    }
    
    .l{
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        width:45px;
        height:45px;
        background-color: #777777;
        border:2px burlywood;
        border-radius: 23px 23px;
    
    }
} 