@charset "UTF-8";
@font-face {
  font-family: "Caveat-VariableFont_wght";
  src: url("../шрифты/Caveat-VariableFont_wght.ttf");
}

body {
  margin: 0;
  padding: 0;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.container {
  width: 1328px;
  margin: 0 auto;
}

/*header*/
header {
  background: url("../img/von.jpg") no-repeat center top/cover;
  height: 753px;
}

header a {
  color: #ffffff;
}

nav {
  width: 1328px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav img {
  margin-right: 527px;
}

.von {
  margin: 0;
  background-color: #212020;
  opacity: 82%;
  width: 100%;
  height: 80px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  padding: 0;
  width: auto;
}

.menu li a {
  text-decoration: none;
  font-size: 26px;
}

a:hover {
  color: #99C39D;
}

.menu li {
  margin-right: 53px;
  margin-top: 19px;
}



/*section*/
.section {
  height: 1400px;
}

.section > .container {
  margin-top: 55px;
}

.section > .container > p {
  font-size: 36px;
  font-family: Caveat-VariableFont_wght;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 87px;
}

.group1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.group2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.group3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.group4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.img {
  height: 189px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure {
  width: 250px;
  padding: 0;
  margin: 0;
}

figcaption {
  width: 250px;
  text-align: center;
  margin-top: 3px;
}

.figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
}

button {
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 50px;
  background: #99C39D;
  border-radius: 90px;
  border: none;
  padding: 0;
}

button > p {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

button > p > a {
  color: #ffffff;
}

button:hover {
  font-size: 20px;
  border: 4px solid #99C39D;
  background-color: #ffff;
  color: #99C39D;
}

button > p > a:hover {
  color: #99C39D;
}

/*footer*/
footer {
  height: 140px;
  background-color: #212020;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 23px;
}

.div1 {
  width: 89px;
  height: 50px;
  margin-right: 123px;
}

.div1 p {
  font-size: 16px;
  width: 78px;
  height: 14px;
  display: block;
  color: #C9BDB1;
  margin: 0;
  margin-bottom: 7px;
  font-family: Caveat-VariableFont_wght;
}

.div1 a {
  color: #FFFFFF;
  text-decoration: none;
}

.div2 {
  width: 101px;
  height: 35px;
  margin-right: 746px;
}

.div2 p {
  font-size: 16px;
  width: 78px;
  height: 14px;
  display: block;
  color: #C9BDB1;
  margin: 0;
  margin-bottom: 7px;
  font-family: Caveat-VariableFont_wght;
}

.div2 a {
  color: #FFFFFF;
  text-decoration: none;
}

.div3 {
  width: 122px;
  height: 82px;
}

.ik {
  width: 120px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
}

.ik button {
  margin: 5px;
}

.logox {
  width: 30px;
  height: 30px;
}

.l {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 45px;
  height: 45px;
  background-color: #777777;
  border: 2px burlywood;
  border-radius: 23px 23px;
}

/*adaptiv*/
@media screen and (max-width: 1200px) {
  .container {
    width: 1024px;
  }
  nav {
    width: 1024px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav img {
    margin-right: 227px;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
  }
  .menu li {
    margin-right: 5px;
    width: 125px;
  }
  /*section*/
  .section {
    height: 1400px;
  }
  .section > .container {
    margin-top: 55px;
  }
  .section > .container > p {
    width: 1024px;
  }
  .group1, .group2, .group3, .group4 {
    width: 800px;
  }
  figure {
    width: 200px;
  }
  figcaption {
    width: 200px;
  }
  .figcaption {
    width: 800px;
  }
  /*footer*/
  footer {
    height: 140px;
    background-color: #212020;
  }
  footer .container {
    width: 1024px;
  }
  .div2 {
    margin-right: 446px;
  }
}

@media screen and (max-width: 991px) {
  /*768*/
  .container {
    width: 720px;
  }
  header {
    height: 453px;
  }
  nav {
    width: 720px;
  }
  nav img {
    margin-right: 30px;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  ul {
    padding: 0;
    width: 584px;
  }
  .menu li a {
    text-decoration: none;
    font-size: 26px;
  }
  a:hover {
    color: #99C39D;
  }
  .menu li {
    margin-right: 10px;
    margin-top: 19px;
    width: 146px;
  }

  /*section*/
  .section {
    height: 900px;
  }
  .section > .container {
    margin-top: 55px;
    width: 720px;
  }
  .section > .container > p {
    width: 720px;
    margin-bottom: 17px;
  }
  .img {
    height: 90px;
  }
  .group1, .group2, .group3, .group4 {
    width: 600px;
  }
  figure {
    width: 150px;
  }
  figcaption {
    width: 150px;
  }
  .figcaption {
    width: 600px;
  }
  /*footer*/
  footer .container {
    width: 720px;
  }
  .div2 {
    margin-right: 150px;
  }
}

@media screen and (max-width: 767px) {
  /*620*/
  .container {
    width: 425px;
  }
  header {
    height: 453px;
  }
  nav {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav img {
    margin-right: 30px;
  }
  ul {
    width: 350px;
    height: 20px;
    margin-top: 19px;
  }
  .menu li a {
    font-size: 20px;
  }
  .menu li {
    margin-right: 5px;
    margin-top: 0;
    width: 87px;
    height: 20px;
  }
  /*section*/
  .section {
    height: 900px;
  }
  .section > .container {
    width: 620px;
  }
  .section > .container > p {
    width: 620px;
  }
  .group1, .group2, .group3, .group4 {
    width: 500px;
  }
  figure {
    width: 125px;
  }
  figcaption {
    width: 125px;
  }
  .figcaption {
    width: 500px;
  }
  /*footer*/
  footer .container {
    width: 620px;
  }
  .div2 {
    margin-right: 50px;
  }
}

@media screen and (max-width: 575px) {
  /*425*/
  .container {
    width: 100%;
  }
  header > .von {
    height: 87px;
  }
  nav {
    width: 100%;
  }
  nav img {
    margin-right: 5px;
    width: 80px;
    height: 80px;
  }
  .menu li {
    margin-right: 2px;
    width: 70px;
  }
  .a1 {
    width: 90px;
    height: 10px;
  }

  .von {
    height: 40px;
  }
  header {
    height: 300px;
  }
  /*section*/
  .section {
    height: 900px;
  }
  .section > .container {
    width: 425px;
  }
  .section > .container > p {
    width: 425px;
    font-size: 22px;
  }
  .group1, .group2, .group3, .group4 {
    width: 400px;
  }
  figure {
    width: 100px;
  }
  figcaption {
    width: 100px;
  }
  .figcaption {
    width: 400px;
  }
  button {
    margin-top: 40px;
  }
  /*footer*/
  footer > .container {
    width: 600px;
    height: 100px;
  }
  footer {
    height: 140px;
    background-color: #212020;
  }
  footer > .container {
    width: 300px;
    margin-left: 0;
  }
  .div1 {
    margin-right: 20px;
  }
  .div1 a, .div2 a {
    font-size: 15px;
  }
  .div2 {
    margin-right: 30px;
  }
  .div3 > img {
    width: 80px;
    height: 70px;
  }
  .ik {
    width: 120px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 34px;
  }
  .ik button {
    margin: 5px;
    width: 30px;
    height: 30px;
  }
  .logox {
    width: 20px;
    height: 20px;
  }
  .l {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 45px;
    height: 45px;
    background-color: #777777;
    border: 2px burlywood;
    border-radius: 23px 23px;
  }
}
