
@font-face {
    font-family: "ViaodaLibre-Regular" ; 
    src: url("ViaodaLibre-Regular.ttf");

    font-family: "Caveat-Regular" ; 
    src: url("Caveat-Regular.ttf");
}
body{
    margin:0;
    padding: 0;
}

/* MENU + BLOK 1 */
nav{
    background-color: rgb(0, 0, 0);
    opacity:90%;
    font-family: ViaodaLibre-Regular ; 
}

.main-menu {
    display: block;
    margin: 0 auto;
    padding:2px;
    height: 67px;
    }

    
    .main-menu li {
    /* теги <li> расположены в ряд */
    width: calc(100% / 8);
    text-align: center;
    display: inline-block;
    }
    .main-menu a {
    display: inline-block;
    font-size: 18px;
    opacity:80%;
    text-decoration: none;
    color: FloralWhite;
    border-bottom: 0;
    }


.blok1{
    width: 100%;
    height: 91vh;
    background-image:url(main-von-3.jpeg);
    background-color: #679E6D;
    opacity:90%;
}

