@charset "UTF-8";
@font-face {
  font-family: "Caveat-VariableFont_wght";
  src: url("../шрифты/Caveat-VariableFont_wght.ttf");
}

body {
  margin: 0;
  padding: 0;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.container {
  width: 1328px;
  margin: 0 auto;
}

/*header*/
header {
  background: url("../img/main-von.jpeg") no-repeat center top/cover;
  height: 753px;
}

header a {
  color: #ffffff;
}

nav {
  width: 1328px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav img {
  margin-right: 527px;
}

.von {
  margin: 0;
  background-color: #212020;
  opacity: 82%;
  height: 80px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  padding: 0;
  width: auto;
}

.menu li a {
  text-decoration: none;
  font-size: 26px;
}

a:hover {
  color: #99C39D;
}

.menu li {
  margin-right: 53px;
  margin-top: 19px;
}


.menu-open {
  display: none;
}

.container .logo {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  color: #ffff;
  width: 452px;
}

.container .logo svg {
  width: 452px;
  height: 311px;
}

.container .logo p {
  width: 452px;
  text-align: center;
}

/* katalog*/
.katalog .container .produck {
  height: 171px;
  margin-left: auto;
  margin-right: auto;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img1 {
  height: 150px;
  width: 150;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container > p {
  text-transform: uppercase;
  font-family: Caveat-VariableFont_wght;
  text-align: center;
  font-size: 36px;
  margin-top: 27px;
  margin-bottom: 16px;
}

figure {
  margin: 0;
  padding: 0;
  height: 172px;
  width: 220px;
}

.figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1328px;
  margin-top: -40px;
}

figcaption {
  width: 220px;
  text-align: center;
}

/*about*/
.about {
  padding-top: 20px;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .container .von1 {
  width: 822px;
  height: 504px;
  background: #99C39D;
  border-radius: 30px;
  margin-left: auto;
}

.von1 p {
  text-align: justify;
  font-size: 26px;
  padding: 48px;
  text-transform: uppercase;
  font-family: Caveat-VariableFont_wght;
}

.foto {
  width: 385px;
  height: 590px;
  margin-bottom: 23px;
  margin-top: 14px;
}

.img11 {
  display: block;
  width: 144px;
  height: 147px;
  border-radius: 100px;
  margin-left: 211px;
}

.foto .img2 {
  display: block;
  width: 279px;
  height: 282px;
  border-radius: 140px;
  margin-left: 10px;
}

.foto .img3 {
  display: block;
  width: 162px;
  height: 164px;
  border-radius: 100px;
  margin-left: 186px;
}

/*footer*/
footer {
  height: 140px;
  background-color: #212020;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 23px;
}

.div1 {
  width: 89px;
  height: 50px;
  margin-right: 123px;
}

.div1 p {
  font-size: 16px;
  width: 78px;
  height: 14px;
  display: block;
  color: #C9BDB1;
  margin: 0;
  margin-bottom: 7px;
  font-family: Caveat-VariableFont_wght;
}

.div1 a {
  color: #FFFFFF;
  text-decoration: none;
}

.div2 {
  width: 101px;
  height: 35px;
  margin-right: 746px;
}

.div2 p {
  font-size: 16px;
  width: 78px;
  height: 14px;
  display: block;
  color: #C9BDB1;
  margin: 0;
  margin-bottom: 7px;
  font-family: Caveat-VariableFont_wght;
}

.div2 a {
  color: #FFFFFF;
  text-decoration: none;
}

.div3 {
  width: 122px;
  height: 82px;
}

.down {
  color: #FFFFFF;
  font-size: 16px;
  margin-left: 153px;
}

.ik {
  width: 120px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
}

.ik button {
  margin: 5px;
}

.logox {
  width: 30px;
  height: 30px;
}

.l {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 45px;
  height: 45px;
  background-color: #777777;
  border: 2px burlywood;
  border-radius: 23px 23px;
}

/*adaptiv*/
@media screen and (max-width: 1200px) {
  .container {
    width: 1140px;
  }
  nav {
    width: 1024px;
  }
  nav img {
    margin-right: 227px;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
  }
  .menu li {
    margin-right: 5px;
    width: 125px;
  }
  #container1 {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  /* katalog*/
  .katalog .container {
    width: 1024px;
  }
  .katalog .container .produck {
    height: 171px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }
  .container > p {
    width: 1024px;
  }
  figure {
    margin: 0;
    padding: 0;
    height: 172px;
    width: 150px;
  }
  .figcaption {
    width: 900px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  figcaption {
    width: 150px;
  }
  /*about*/
  .about .container {
    width: 1024px;
  }
  .about .container .von1 {
    width: 50%;
    height: 600px;
    border-radius: 30px;
    margin-left: 55px;
  }
  .von1 p {
    font-size: 23px;
    padding: 28px;
  }
  .foto {
    width: 385px;
    height: 590px;
    margin-bottom: 23px;
    margin-top: 14px;
  }
  .img11 {
    display: block;
    width: 144px;
    height: 147px;
    border-radius: 100px;
    margin-left: 211px;
  }
  .foto .img2 {
    display: block;
    width: 279px;
    height: 282px;
    border-radius: 140px;
    margin-left: 40px;
  }
  .foto .img3 {
    display: block;
    width: 162px;
    height: 164px;
    border-radius: 100px;
    margin-left: 186px;
  }
  /*footer*/
  footer {
    height: 140px;
    background-color: #212020;
  }
  footer .container {
    width: 1024px;
  }
  .div2 {
    margin-right: 446px;
  }
}

@media screen and (max-width: 991px) {
  #container1 {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .about .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about .container .von1 {
    width: 100%;
  }
  .foto {
    display: none;
  }
  .div2 {
    margin-right: 146px;
  }
  .about .container .von1 {
    height: 304px;
    margin-bottom: 30px;
  }
  .von1 p {
    font-size: 20px;
    padding: 28px;
  }
  .container .logo svg {
    width: 422px;
    height: 311px;
  }
  .a1 {
    width: 90px;
    height: 10px;
  }
  nav img {
    margin-right: 100px;
  }
  nav {
    width: 500px;
    margin-left: 0px;
  }
  /* katalog*/
  .katalog .container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .katalog .container .produck {
    width: 700px;
    height: 120px;
  }
  .img1 {
    height: 120px;
    width: 116px;
  }
  .container > p {
    width: 720px;
  }
  figure {
    width: 116px;
    height: 130px;
  }
  .figcaption {
    width: 700px;
  }
  figcaption {
    width: 116px;
  }
  /*about*/
  .about .container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .about .container .von1 {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .von1 p {
    font-size: 23px;
    padding: 28px;
  }
  .foto {
    width: 385px;
    height: 590px;
    margin-bottom: 23px;
    margin-top: 14px;
  }
  .img11 {
    display: block;
    width: 144px;
    height: 147px;
    border-radius: 100px;
    margin-left: 211px;
  }
  .foto .img2 {
    display: block;
    width: 279px;
    height: 282px;
    border-radius: 140px;
    margin-left: 40px;
  }
  .foto .img3 {
    display: block;
    width: 162px;
    height: 164px;
    border-radius: 100px;
    margin-left: 186px;
  }
  /*footer*/
  footer .container {
    width: 700px;
  }
  .div1 {
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  /*620*/
  .container {
    width: 620px;
  }
  nav {
    width: 100%;
  }
  nav img {
    margin-right: 90px;
  }
  .menu li {
    margin-right: 5px;
    width: 90px;
  }
  .a1 {
    width: 90px;
    height: 10px;
  }

  #container1 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .about .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about .container .von1 {
    width: 100%;
  }
  .foto {
    display: none;
  }
  .div2 {
    margin-right: 146px;
  }
  .about .container .von1 {
    height: 304px;
    margin-bottom: 30px;
  }
  .von1 p {
    font-size: 20px;
    padding: 28px;
  }
  .container .logo svg {
    width: 422px;
    height: 311px;
  }
  /* katalog*/
  .katalog .container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .katalog .container .produck {
    width: 600px;
    height: 120px;
  }
  .img1 {
    height: 100px;
    width: 116px;
  }
  .container > p {
    width: 620px;
  }
  figure {
    width: 100px;
    height: 130px;
  }
  .figcaption {
    width: 600px;
  }
  figcaption {
    width: 100px;
  }
  /*about*/
  .about .container {
    width: 600px;
  }
  .about .container .von1 {
    height: 400px;
  }
  .von1 p {
    font-size: 20px;
  }
  /*footer*/
  footer .container {
    width: 620px;
  }
  .div2 {
    margin-right: 50px;
  }
  .div1 {
    margin-left: 5px;
  }
}

@media screen and (max-width: 575px) {
  /*425*/
  header {
    height: 553px;
  }
  nav img {
    margin-right: 10px;
    width: 80px;
    height: 80px;
  }
  nav {
    width: 100%;
  }
  .menu li {
    margin-right: 5px;
    width: 70px;
  }
  .menu li a {
    font-size: 20px;
  }
  #container1 {
    width: 100%;
  }
  .container .logo {
    width: 100%;
    margin-top: 60px;
  }
  .container .logo svg {
    width: 352px;
    height: 211px;
    margin-left: 40px;
  }
  .container .logo p {
    font-size: 24px;
    width: 100%;
  }
  /* katalog*/
  .katalog .container {
    width: 400px;
  }
  .katalog .container .produck {
    width: 400px;
    height: 80px;
  }
  .img1 {
    height: 80px;
    width: 66px;
  }
  .container > p {
    width: 400px;
  }
  figure {
    width: 66px;
    height: 130px;
  }
  .figcaption {
    width: 400px;
  }
  figcaption {
    width: 66px;
    font-size: 12px;
  }
  /*about*/
  .about .container {
    width: 400px;
  }
  .about .container .von1 {
    height: 470px;
  }
  .von1 p {
    font-size: 18px;
  }
  /*footer*/
  footer > .container {
    width: 600px;
    height: 100px;
  }
  footer {
    height: 140px;
    background-color: #212020;
  }
  footer > .container {
    width: 300px;
    margin-left: 0;
  }
  .div1 {
    margin-right: 20px;
  }
  .div1 a, .div2 a {
    font-size: 15px;
  }
  .div2 {
    margin-right: 30px;
  }
  .div3 > img {
    width: 80px;
    height: 70px;
  }
  .ik {
    width: 120px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 34px;
  }
  .ik button {
    margin: 5px;
    width: 30px;
    height: 30px;
  }
  .logox {
    width: 20px;
    height: 20px;
  }
  .l {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 45px;
    height: 45px;
    background-color: #777777;
    border: 2px burlywood;
    border-radius: 23px 23px;
  }
}
